<div class="game-info">
    <div class="players-info">
        <%- include("profile-info", player) %>
        <span class="vs">vs</span>
        <%- include("profile-info", player) %>
    </div>
    <div class="time">1:23</div>
</div>
