<div class="login">
    <ul>
        <li>Username</li>
        <li><input type="text" value=""></li>
        <li>Password</li>
        <li><input type="password" value=""></li>
    </ul>
    <button class="login-button" id="login-button">Login</button>
</div>
