<nav class="menu-icon">
    <ul>
        <li>
            <a href="/profile"><img src="/img/icon/profile.png" alt="Prodile"></a>
        </li>
        <li>
            <a href="/game"><img src="/img/icon/game.png" alt="Game"></a>
        </li>
    </ul>
</nav>
