<nav class="menu-icon">
    <ul>
        <li>
            <a href="/profile"><img src="/img/icon/profile.png" alt="Prodile"></a>
        </li>
        <li>
            <a href="/logout"><img src="/img/icon/logout.png" alt="Logout"></a>
        </li>
    </ul>
</nav>
