<!doctype html>
<html>
    <head>
        <title>Uncharted Tactics | Login</title>

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/index.css">

        <script src="/js/index.js" defer></script>
    </head>
    <body>
        <header>
            <%- include("components/header") %>
        </header>

        <main>
            <%- include("components/slideshow") %>
            <%- include("components/login") %>
        </main>

        <footer>
            <%- include("components/footer") %>
        </footer>
    </body>
</html>
