<!doctype html>
<html>
    <head>
        <title>Uncharted Tactics | Profile</title>

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/profile.css">

        <script src="/js/profile.js" defer></script>
    </head>
    <body>
        <header>
            <%- include("components/menu-icon") %>
            <%- include("components/header") %>
        </header>

        <main>
        </main>

        <footer>
            <%- include("components/footer") %>
        </footer>
    </body>
</html>
