/* Game Board*/
.game-board {
    display: flex;
}

.board-container {
    flex-grow: 1;
}
.board {
    width: 100%;
    text-align: center;
}
.tile {
    height: 3em;
    min-width: 3em;
}

.plain {
    background-color: forestgreen;
}
.hill {
    background-color: burlywood;
}
.river {
    background-color: darkblue;
}
.forbidden {
    opacity: 0.5;
}

.player-1 {
    color: white;
}
.player-2 {
    color: black;
}

.capture {
    min-width: 10%
}
